---
import { Image } from "astro:assets";

interface Props {
  linkItem: any;
  category?: boolean;
  isShort?: boolean;
}

const { linkItem, category = false, isShort = false } = Astro.props;
---

<div class:list={["devlinxItem", isShort ? "is-short" : ""]}>
  {
    linkItem.data.image && !linkItem.data.icon && (
      <div class="devlinxItem__icon as-image">
        <Image src={linkItem.data.image} inferSize alt="" />
      </div>
    )
  }

  {
    linkItem.data.icon && !linkItem.data.image && (
      <div class="devlinxItem__icon as-icon" set:html={linkItem.data.icon} />
    )
  }

  <div class="devlinxItem__name">
    <a class="_link" href={linkItem.data.href} title={isShort ? linkItem.data.description : ''}>{linkItem.data.name}</a>
  </div>

  {
    !isShort && (
      <p class="devlinxItem__description">{linkItem.data.description}</p>
    )
  }
</div>
